nav{
	background-color: var(--appNavBgColor) !important;
	border-color: var(--appNavBgColor) !important;
	border-radius: 0;
	padding-right: 10px !important;
}

nav>div>ul>li>a{
	color: white !important;
}

nav>div>ul>li>a:hover{
	color: white;
	background-color: var(--appActiveNavBgColor);
}

.navbar-brand{
	color: white;
}

nav>div>ul>li.active>a{
	background-color: var(--appActiveNavBgColor) !important;
}

.navbar-toggler-right{
	color: white !important;
}