nav{
	background-color: var(--appNavBgColor) !important;
	border-color: var(--appNavBgColor) !important;
	border-radius: 0;
	padding-right: 10px !important;
	color: white;
}

nav>div>ul>li>a{
	color: white !important;
}

nav>div>ul>li>a:hover{
	color: white;
	background-color: var(--appActiveNavBgColor);
}

.navbar-brand{
	color: white;
}

nav>div>ul>li.active>a{
	background-color: var(--appActiveNavBgColor) !important;
}

@media (max-width: 992px){
	nav>div>ul>li.active>a{
		background-color: transparent !important;	
	}
	nav>div>ul>li.active>a:hover{
		background-color: var(--appActiveNavBgColor) !important;
	}
}

.navbar-inverse .navbar-toggler-right .navbar-toggler-icon {
	cursor: pointer;
    background-color: transparent;
    color: red !important;
}