<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

  <button class="navbar-toggle navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon icon-bar"></span>
  </button>

  <a class="navbar-brand" href="#">Angular CLI + Bootstrap</a>

  <div class="collapse navbar-collapse" id="navbarNav" [class.collapse]="isNavCollapsed">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="https://medium.com/"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>