nav{
	background-color: var(--appNavBgColor);
	border-color: var(--appNavBgColor);
	border-radius: 0;
	padding-right: 10px;
}

nav>ul>li>a{
	color: white;
}

nav>ul>li>a:hover{
	color: white;
	background-color: var(--appActiveNavBgColor);
}

.navbar-brand{
	color: white;
}

nav>ul>li.active>a{
	background-color: var(--appActiveNavBgColor);
}
