.category-card-image{
    height: 300px;
}

@media (max-width: 992px) {
    .category-card-image{
        height: 400px;
    }
}

.custom-style{
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
}
