.category-card-image{
    height: 300px;
}

@media (max-width: 992px) {
    .category-card-image{
        height: 400px;
    }
}

/*@media (max-width: 768px) {
    .category-card-image{
        height: 400px;
    }
}*/

/*@media (min-width: 992px) {
    .card-columns {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}*/